################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BlueSOD/Debug
/BlueSOD/x64/Debug
/BlueSOD.VC.VC.opendb
/BlueSOD.VC.db
/x64/Debug/BlueSOD.exe.lastcodeanalysissucceeded
